@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}


.row {
  margin: 0;
}

.container {
  padding: 70px 0;
}

p, li {
  color: #444;
  font-size: 16px;
}

header, .navbar {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: white;
}

#logo {
  width: 130px;
}

.navbar-brand {
  padding: 0;
  color: #222;
}

.navbar-brand:hover {
  color: #222;
}

#navbar-links a {
  color: #222;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 1rem .8rem;
}

.funcoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  color: white;
  padding: 6.5rem 0;
  font-size: 1rem;
  width: 100%;
}

.btnSubmit, .btnConsumirApi{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  width: 260px;
  background: #6c0000;
  font-weight: normal;
  border-radius: 5px;
  color: white;
  border: none;
  min-height: 30px;
  transition: all 250ms ease-out;
}

.btnSubmit:hover, .btnConsumirApi:hover, .excluir {
  cursor: pointer;
  background: #891a1a;
}

.select-all-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-color{
  background-color: #242323;
  color: white;
  border-style: none;
  width: 130px ;
  height: 30px;
  text-transform: uppercase;
  border-radius: 12px;
  font-size: 0.6rem;
  margin-top: 0.5rem;
}

#lista{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

.card {
  background-color: #222;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 40%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card > input[type= 'checkbox']:checked + p {
  text-decoration: line-through;
}

input[type= 'checkbox'] {
  height: 20px;
}

.card p {
  color: white !important;
  font-weight: lighter;
  font-size: 20px;
}

.excluir{
  padding: 10px;
  color: white;
  background: #6c0000;
  border: none;
  border-radius: 4px;
  margin-top: 10px
}

.checkbox:hover{
  cursor: pointer;
}

.navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  margin-right: 10px;
}

#home-menu:hover {
  color: #6c0000;
  transform: scale(1.25);
  transition: all 250ms ease-in-out;
}

#import-menu:hover {
  color: #6c0000;
  transform: scale(1.25);
  transition: all 250ms ease-in-out;
}

.row  { 
  color: white;
  position: relative; 
  bottom:0;
  
}

footer  {
  display: flex;
  justify-content: center;
  color: white;
}
